#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Tests for `{{ full_project_slug }}` package."""

import pytest  # noqa

import {{ full_project_slug }}


def test_assert():

    assert {{ full_project_slug }}.get_version() is not None
