#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Tests for `kiara_plugin.{{ project_slug }}` package."""

import pytest  # noqa

import kiara_plugin.{{ project_slug }}


def test_assert():

    assert kiara_plugin.{{ project_slug }}.get_version() is not None
